<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="{{ "/" | relURL}}">
  {{ if .Site.Params.logo }}
    <img src="{{ .Site.Params.logo | relURL }}">
  {{ end }}
  {{.Site.Title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="navbar-item dropdown {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
        <a class="nav-link dropdown-toggle" id="{{ .Identifier }}" role="button" data-toggle="dropdown" data-target="#" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        <ul class="navbar-dropdown dropdown-menu" role="menu" aira-labelledby="{{ .Identifier }}">
        {{ range .Children }}
          <li class="navbar-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}  </ul>
      </li>
      {{ else }}
      <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
        <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
</nav>
